body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--Pale-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    width: 750px;
    height: 520px;
}

.coluna1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 30px;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: var(--violet-blue);
    color: var(--White);
}

.coluna1 h3 {
    color: var(--Light-lavender);
}

.coluna1 .circle {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, hsl(241, 81%, 54%),hsla(241, 72%, 46%, 0));
}

.coluna1 .circle h1 {
    font-size: 70px;
}

.coluna1 .circle div {
    color: var(--light-slate-blue);
}

main .coluna1 p {
    display: flex;
    padding: 0px 70px 20px 70px;
    color: var(--Light-lavender);
}

.coluna2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--White);
    border-radius: 0px 30px 30px 0px;
    height: 100%;
    width: 50%;
    padding: 40px;
    font-weight: 800;
}

.coluna2 h3 {
    font-size: 20px;
}

.coluna2 .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
}

.row .left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.row .right span {
    color: black;
}

.row .right h4 {
    color: var(--Light-lavender);
}


.coluna2 .row-1 {
    color: var(--Light-red);
    background-color: hsla(0, 100%, 67%, 0.060);
}

.coluna2 .row-2 {
    color: var(--Orangey-yellow);
    background-color: hsla(39, 100%, 56%, 0.060);
}

.coluna2 .row-3 {
    color: var(--Green-teal);
    background-color: hsla(166, 100%, 37%, 0.060);
}

.coluna2 .row-4 {
    color: var(--Cobalt-blue);
    background-color: hsla(234, 85%, 45%, 0.060);
}

.coluna2 a {
    text-align: center;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    padding: 15px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50px;
}

.coluna2 a:hover{
    background-color: var(--violet-blue);
}

.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}